html {
    background: linear-gradient(#420690,#640c96,#9725a5,#d24bb1,#ff69b4);
    color:#f47575;
    font-family:fantasy;
    min-height: 100%;
}

h1,h2,h3 {
    text-align: center;
}

.atletas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.atleta {
    /*background-color: #ffccf5;
    color: #7e3a70;*/
    background: linear-gradient(to right, #ff218c, #ffd800, #21b1ff);
    color:black;
    padding: 10px;
    margin: 15px;
    width: 20%;
    border-style: solid;
    border-radius: 15px;
}