html {
    background: linear-gradient(to right,#55CDFC ,#F7A8B8 ,#ffffff,#F7A8B8 ,#55CDFC );
    color: #ff339a;
    font-family:fantasy;
    min-height: 100%;
}

h1,h2,h3 {
    text-align: center;
}

.equipas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipa {
    flex-grow: 1;
    display: block;
    /*background-color:#ffa4d2;
    color: #ff339a;*/
    background: linear-gradient(#fa0b0b,#ff9100,#f8e807,#127a2c, #0b47ec,#8121ff);
    color: black;
    padding: 10px;
    width: 250px;
    border-style: solid;
    border-radius: 8px;
    min-height: 225px;
}

a {
    margin: 15px;
    text-decoration: none;
}