html {
    background: #5bcefa;
    color: #166888;
    font-family:fantasy;
    min-height: 100%;
}

h1,h2,h3 {
    text-align: center;
    width: 100%;
}

.provas {
    display: flex;
    flex-direction: column; 
}

.prova {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #f5a9b8;
    color: #97273e;
    border-radius: 20px;
    margin: 50px;
}

.equipa {
    flex-grow: 1;
    display: block;
    /*background-color:#ffa4d2;
    color: #ff339a;*/
    background: white;
    color: rgb(82, 82, 82);
    padding: 10px;
    width: 250px;
    border-radius: 8px;
    min-height: 200px;
}

a {
    margin: 15px;
    text-decoration: none;
}