html {
    background: linear-gradient(#ffccf5,#eacdff,#d5cfff,#d3dfff,#caf0ff);
    color: #ff339a;
    font-family:fantasy;
    min-height: 100%;
}

h1,h2,h3 {
    text-align: center;
}

.equipas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.equipa {
    flex-grow: 1;
    display: block;
    /*background-color:#ffa4d2;
    color: #ff339a;*/
    background: linear-gradient(to right, #ff218c, #ffd800, #21b1ff);
    color: black;
    padding: 10px;
    width: 250px;
    border-style: solid;
    border-radius: 8px;
    min-height: 225px;
}

a {
    margin: 15px;
    text-decoration: none;
}