pushn 4
start
pushs "Lado 1: "
writes
read
atoi
storeg 0
pushs "Lado 2: "
writes
read
atoi
storeg 1
pushs "Lado 3: "
writes
read
atoi
storeg 2
pushs "Lado 4: "
writes
read
atoi
storeg 3
pushg 0
pushg 1
equal
pushg 1
pushg 2
equal
mul
pushg 2
pushg 3
equal
mul
jz l0
pushi 1
writei
pushs "\n"
writes
jump le0
l0:
pushi 0
writei
pushs "\n"
writes
le0:
stop
